<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{album["name"]}}</title>
</head>
<body>
    <div class="heading">
        <div class="menubar">
            <a href="/">HOME</a> | UPLOAD: {{album["time"][:10]}} | VERSION: {{version}}
            {% if version != 1 %}
            &nbsp;
            <a href="/post/{{album["id"]}}/{{version-1}}"> PREVIOUS VERSION </a>
            {% endif %}
        </div>
    </div>
    <div class="lyricscontent">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>