<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>{{table["name"]}}</title>
  </head>
  <body>
    <div class="heading">
      <div class="menubar">
        IDONTLIKEHIPHOP LYRICS TRANSLATION PROJECT | SORT BY - <a href="/t/translations">NAME</a> <a href="/t/translations?sort=artist">ARTIST</a> <a href="/t/translations?sort=time">TIME</a> <a href="{{choosen_link}}" style="color:{{primary_colour}}; background-color:{{secondary_colour}};">RANDOM ALBUM</a>
      </div>
    </div>
    <div class="content">
      <div class="album_box">
        {% for i in table_len %}
        <button onclick="location.href='/post/{{list[i]["id"]}}';" name="album_id" class="album_object" style="display:flex; background-image:url(../static/imgs/{{list[i]["cover"]}});">
          <div class="album_components">
            {{list[i]["name"]}}
          </div>
        </button>
        {% endfor %}
      </div>
    </div>
  </body>
</html>