:root {
    --color-primary: rgb(59, 59, 59);
    --color-secondary: white;
}

body {
    background-color: var(--color-secondary);
    font-family: "Lucida Console", "Courier New", monospace;
}

.content {
    margin: 80px;
}