:root {
    --color-primary: rgb(59, 59, 59);
    --color-secondary: white;
}

body {
    margin: auto;
    display: block;
    background-color: var(--color-secondary);
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-y:visible;
}

a {
    text-decoration: underline;
    color: var(--color-primary);
}

div {
    margin: auto;
}

p {
    font-size: 1rem;
}

.logo p {
    font-size: 2rem;
}

.heading {
    display: block;
    margin: 8px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    height: 50;
    transform-origin: center center;
    border: none;

    padding: 3;
    font-size: 2rem;
}

.content {
    display: flex;
    margin: 80;
}

.lyricscontent {
    margin: 80px;
}

.input_box {
    display: inline-block;
    margin: 10;
}

.input_box.text {
    text-align: center;
    margin: 0;
}

.album_box {
    display: grid;
    place-items: center;
    
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    text-decoration: none;

    overflow-y: auto;
    overflow-x: auto;
}

.album_object {
    text-decoration: none;
    height: 200px;
    margin: 8px;
    aspect-ratio: 1;
    background-size: cover;
    padding: 2;
    transition: 0.5s;
    transform-origin: center center;
    border: none;

    font-size: 16;

	cursor: pointer;

    &:hover{
        height: 180;
        margin: 2px;

        .album_components {
            opacity: 1;
        }
    }
}

.album_components {
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    background-color: white;
    color: black;
    padding: 2;
    font-family: "Lucida Console", "Courier New", monospace;
}

@media (max-width: 1000px) and (max-width: 1000px) {
    img {
        width: 100%;
    }
    .logo {
        font-size: 1rem;
    }
    .menubar {
        font-size: 0.8rem;
    }
    .lyricscontent p {
        font-size: 0.8rem;
    }
    .lyricscontent {
        margin: 40px;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: auto;
    }
    .album_object {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        margin: 0;
        &:hover{
            height: auto;
            margin: 0;
    
            .album_components {
                opacity: 0;
            }
        }
    }
    .album_box {
        display: grid;
        place-items: center;
        width: 100%;
        
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        text-decoration: none;
        gap: 0;
    
        overflow-y: auto;
        overflow-x: auto;
    }
}