:root {
    --color-primary: rgb(59, 59, 59);
    --color-secondary: white;
}

body {
    display: block;
    background-color: var(--color-secondary);
    font-family: "Lucida Console", "Courier New", monospace;

    overflow-y:visible;
}

div {
    margin: auto;
}

P {
    padding: 5;
}

.heading {
    display: block;
    margin: 8px;
    padding: 2px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    height: 50;
    transform-origin: center center;
    border: none;

    font-size: 30;
}

.content {
    display: flex;
    margin: 50;
}

.input_box {
    display: inline-block;
    margin: 10;
}

.input_box.text {
    text-align: center;
    margin: 0;
}

.album_box {
    display: grid;
    place-items: center;
    
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    text-decoration: none;

    overflow-y: auto;
    overflow-x: auto;
}

.album_object {
    text-decoration: none;
    height: 200;
    margin: 8px;
    aspect-ratio: 1;
    background-size: cover;
    padding: 2;
    transition: 0.5s;
    transform-origin: center center;
    border: none;

    font-size: 16;

	cursor: pointer;

    &:hover{
        height: 180;
        margin: 2px;

        .album_components {
            opacity: 1;
        }
    }
}

.album_list_box {
    max-height: 510px;
    border: 1px solid;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    text-decoration: none;
    transform-origin: top left;
}

.album_list_box::-webkit-scrollbar {
    width: 0;
}

.album_list_object {
    text-decoration: none;
    height: 500;
    aspect-ratio: 1;
    background-size: cover;
    padding: 10;
    margin-left: 20;
    transition: 0.5s;

	cursor: pointer;

    &:hover{
        transform: translateY(-20px);
        .album_components {
            opacity: 1;
        }
    }
}

.album_components {
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}